.car-card {
    /* background-color: rgba(0, 0, 0, 0.3); */
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* width: 300px;
    height: 350px; */
    /* margin-bottom: 30px; */
    color: black;
    transition: 0.1s linear;
}

.car-card:hover {
    transform: scale(1.09);
    transition: all .3s ease-in-out;
    
}

.image-wrapper {
    /* width: 300px;
    height: 350px; */
    /* margin: 0 auto; */
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.image-wrapper img {
    /* width: 300px;
    height: 350px; */
    object-fit: cover;
}

.content-wrapper {
    /* padding: 0 20px; */
    text-align: center;
    text-decoration: none;
}

.car-card-action {
    letter-spacing: 1.2px;
    text-align: center;
}


/* CAR NAME */
.car-name {
    letter-spacing: 1.2px;
    font-weight: 500;
    margin-top: 450px;
    /* margin: 0 auto; */
    align-items: center; 
    color: inherit;
    text-decoration: inherit;
}

.name {
    text-decoration: none;
    color: inherit;
    text-decoration: inherit;
}


/* EDIT CAR FORM */
.edit {
    text-align: center;

}
