
.image-wrapper .car-card-action {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 

.car-card:hover {
    transform: scale(1.09);
    transition: all .3s ease-in-out;
    
}




.car-card-action {
    color: silver;
    letter-spacing: 1.2px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}


/* CAR NAME */
.car-name {
    letter-spacing: 1.2px;
    font-weight: 500;
    margin-top: 450px;
    margin: 0 auto;
    align-items: center; 
    color: inherit;
    text-decoration: inherit;
}

.name {
    color: silver;
    text-decoration: inherit;
    font-size: 30px;
    text-align: center;
    text-decoration: inherit;
}


/* EDIT CAR FORM */
.edit {
    text-align: center;

}

.car-card-action img {
    align-content: center;
}