body {
	background-color: rgb(18, 14, 6);
	margin-left: 100px;
}


.vertical-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap:  wrap;
      flex-wrap:  wrap;
  font-size: larger;
  color: wheat;
};


h1, h2, h3, h4 {
	font-weight: 600;
}

h1 {
	font-size: 37.5px;
	font-size: 2.5rem;
	letter-spacing: 12px;
	letter-spacing: .8rem;
}

h2 {
	margin-bottom: 45px;
	margin-bottom: 3rem;
	text-align: center;
}

h3 {
	margin-bottom: 45px;
	margin-bottom: 3rem;
	text-align: center;
}

h6 {
	font-size: 25px;
	font-weight: lighter;
}
/* About */

p {

	color: rgb(134, 128, 118);
	font-size: 30px;
	margin-block-end: 15em;
	margin-block-start: 2em;
	letter-spacing: .099rem;
	text-align: center;
	width:90% 
}



/* footer */
.footer {
	max-width: 10000px;
	width: 100%;
	margin: 0 auto;
	font-size: 30px;
	font-size: 2rem;
	padding: 15px;
	padding: 1rem;
	margin-bottom: 30px;
	margin-bottom: 2rem;
	display: inline-block;
	color: #44545E;
}

.copyright {
	border-top: 2px solid #44545E;
	padding: 15px 0 3px;
	padding: 1rem 0 .2rem;
	text-align: center;
	letter-spacing: .099rem;
}



